
export(svg_par, svg_par_instance, test1, test2, svg_ts, 
       svg_par_points, make_svg_points, make_svg_lines, make_svg_instance, make_svg_bars,
       make_axes_lines, svg_bar, bar_x_axis_ticks,
       x_axis_ticks, make_x_ticks_and_labels, make_y_ticks_and_labels, calculate_window, make_x_mapping, make_y_mapping, 
       find_ticks, plot.svg_template, write_svg_bars, print.svg_instance_bars, view, view.svg_instance_bars,
       dev_make_svg_bars,
       svg_gauge, make_svg_gauge, test4,
       svg_stock, test5,
       svg_donut, svg_donut.default, svg_donut.table, test6,
       view.svg_instance, dev_make_svg_bars2, make_svg_instance, dev_write_svg_instance, dev_view_svg_instance
       )

export(dev_svg_barplot, test7, dev_plot_svg_template, make_svg_donut )


